################################################################################
#
# @file      .gitmodules
# @brief     Contains the submodules of the git repo
# @author    Max Hager
# @date      14.04.2024
# @copyright © Max Hager, 2024. All right reserved.
#
################################################################################

# Junia Engine
[submodule "dep/Junia"]
	path = dep/Junia
	url = https://github.com/HiWiSciFi/Junia.git
